@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

p.textmcss {
  color: #333333;
  margin: 0;
}

p.textcss {
  color: #828282;
  margin: 0;
}

p.textmcss,
p.textcss {
  padding: 0;
  font-weight: normal;
  font-size: 15px;
  font-family: "Ubuntu Mono", monospace;
  line-height: 12px;
  margin-bottom: 12px;
}
